@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

.sidebar-text{
    color: #747474;
    font-weight: bold;
    font-size: 17px;
}

.sidebar-text:hover{
    color: #ff1c1c !important;
    background-color: #ffbebe;
}

.sidebar-text:active{
    color: #ff6363 !important;
}

.custom-nav-link{
    display: flex !important;
}

.icon-margin {
    margin-top: 0.25rem;
    margin-right: 1rem;
}

.greetingTag{
    font-family: 'Abel', sans-serif;
    color: #000000;
}



.box {
    width: 30rem;
    height: 7rem;
}

.box>h1{
    font-size: 3.5rem;
    margin: 0;
    padding: 1.2rem;
}

.box p{
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 1.7rem;
}

.red {
    background-color: #D92121;
}

.green {
    background-color: #56CDAD;
}

.blue {
    background-color: #26A4FF;
}

.institute {
    background-color: #DE8240;
}

.course {
    background-color: #40DE46;
}

.job {
    background-color: #DE406F;
}

